/*
1. Positioning
2. Box Model
3. Typography
4. Visual
5. Others
*/

:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --gray: #bababa;
  --off-white: #FAF8F7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

header .header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  align-self: center;
}
header .header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
header .header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
header .header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Shadow */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black)
}
header .header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../assets/icons/down-arrow.svg');
}
main {
  width: 100vw;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}

main .main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
main .main-exchange-container .background__image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: url('../assets/img/Bitcoin.svg') center/cover no-repeat;
}
main .main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
main .main-exchange-container .main-exchange-container--title > p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
main .main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
main .main-tables-container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
main .main-tables-container > h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
main .main-tables-container > h3:first-of-type {
  color: var(--bitcoin-orange);
}
main .main-tables-container > h3:last-of-type {
  color: var(--secondary-blue);
}
main .main-tables-container > .table + div {
  width: 173px;
  height: 31px;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 8px 0;
  margin-bottom: 50px;
  border-radius: 7px;
}
main .main-tables-container > .table.one + div {
  background-color: var(--soft-orange);
}
main .main-tables-container > .table.two + div {
  background-color: var(--soft-blue);
}

main .main-tables-container .table  {
  width: min-content;
  height: 40%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2px;
  row-gap: 2px;
  justify-content: space-between;
  margin: 0 auto 30px auto;
  font-size: 16px;
}
main .main-tables-container .table > div {
  width: 101px;
  height: 38px;
  padding: 11px 0;
  background-color: #FFFFFF;
}
main .main-tables-container .table > div:first-child  {
  border-radius: 8px 0 0 0;
}
main .main-tables-container .table > div:nth-child(2) {
  border-radius: 0 8px 0 0;
}
main .main-tables-container .table > div:nth-child(7) {
  border-radius: 0  0 0 8px;
}
main .main-tables-container .table > div:last-child {
  border-radius: 0 0 8px 0;
}
main .main-tables-container .table > div > .down {
  display: inline-block;
  width: 11px;
  height: 6px;
  margin-left: 10px;
  background: url('../assets/icons/trending-down.svg') center/cover no-repeat;
}
main .main-tables-container .table > div > .up {
  display: inline-block;
  width: 11px;
  height: 6px;
  margin-left: 10px;
  background: url('../assets/icons/trending-up.svg') center/cover no-repeat;
}

main .main-tables-container .table .left {
  font-weight: 500;
  line-height: 1.9rem;
  color: #B5B0AC;

}
main .main-tables-container .table .right {
  color: #757575;
  font-weight: 14px;
}