/*
1. Positioning
2. Box Model
3. Typography
4. Visual
5. Others
*/

:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --gray: #bababa;
  --off-white: #FAF8F7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

header .header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  align-self: center;
}
header .header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
header .header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
header .header--title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Shadow */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black)
}
header .header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('../assets/icons/down-arrow.svg');
}
main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}

main .main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
main .main-exchange-container .background__image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: url('../assets/img/Bitcoin.svg') center/cover no-repeat;
}
main .main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
main .main-exchange-container .main-exchange-container--title > p {
  margin-bottom: 60px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
main .main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
main .main-tables-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
main .main-tables-container > div {
  width: auto;
  height: auto;
  scroll-snap-align: center;
}
main .main-tables-container > div > h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
main .main-tables-container > div:first-of-type h3 {
  color: var(--bitcoin-orange);
}
main .main-tables-container > div:last-of-type h3 {
  color: var(--secondary-blue);
}
main .main-tables-container > div > div:last-child {
  width: 173px;
  height: 31px;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 8px 0;
  margin-bottom: 50px;
  border-radius: 7px;
}
main .main-tables-container > div > .table.one + div {
  background-color: var(--soft-orange);
}
main .main-tables-container > div > .table.two + div {
  background-color: var(--soft-blue);
}

main .main-tables-container .table  {
  width: min-content;
  min-height: 159px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2px;
  row-gap: 2px;
  justify-content: space-between;
  margin: 0 60px;
  font-size: 16px;
}
main .main-tables-container .table > div {
  width: 101px;
  height: 38px;
  padding: 11px 0;
  background-color: #FFFFFF;
}
main .main-tables-container .table > div:first-child  {
  border-radius: 8px 0 0 0;
}
main .main-tables-container .table > div:nth-child(2) {
  border-radius: 0 8px 0 0;
}
main .main-tables-container .table > div:nth-child(7) {
  border-radius: 0  0 0 8px;
}
main .main-tables-container .table > div:last-child {
  border-radius: 0 0 8px 0;
}
main .main-tables-container .table > div > .down {
  display: inline-block;
  width: 11px;
  height: 6px;
  margin-left: 10px;
  background: url('../assets/icons/trending-down.svg') center/cover no-repeat;
}
main .main-tables-container .table > div > .up {
  display: inline-block;
  width: 11px;
  height: 6px;
  margin-left: 10px;
  background: url('../assets/icons/trending-up.svg') center/cover no-repeat;
}

main .main-tables-container .table .left {
  font-weight: 500;
  line-height: 1.9rem;
  color: #B5B0AC;

}
main .main-tables-container .table .right {
  color: #757575;
  font-weight: 14px;
}
main .main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
main .main-product-detail .product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 23px);
  background-image: url('../assets/icons/batata.svg');
}
main .main-product-detail .product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
main .main-product-detail .product-detail--title > h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
main .main-product-detail .product-detail--title > p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
main .main-product-detail .product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
main .main-product-detail .product-detail--card > span {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}
main .main-product-detail .product-detail--card > span.clock {
  background: url('../assets/icons/clock.svg') center/cover no-repeat;
}
main .main-product-detail .product-detail--card > span.eye {
  background: url('../assets/icons/eye.svg') center/cover no-repeat;
}
main .main-product-detail .product-detail--card > span.dollar {
  background: url('../assets/icons/dollar-sign.svg') center/cover no-repeat;
}
main .main-product-detail .product-detail--card > span.check {
  background: url('../assets/icons/check-circle.svg') center/cover no-repeat;
}
main .main-product-detail .product-detail--card > .product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
main .main-product-detail .product-detail--card > .product--card-body
{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color:#808080;
}
main .bitcoin-image-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: url('../assets/img/bitcoinbaby2x.jpg') center/cover no-repeat;
}
main .bitcoin-image-container > h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  text-align: center;
}
main .main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
main .main-plans-container .plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}
main .main-plans-container .plans--title > h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
main .main-plans-container .plans--title > {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
main .main-plans-container .plans-container--slider {
  display: flex;
  gap: 10px;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
main .main-plans-container .plans-container--slider .plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: min-content;
  min-width: 190px;
  height: 250px;
  margin: 50px 0 0;
  padding: 0 15px;
  background: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
main .main-plans-container .plans-container--slider .plans-container--card .plan--qualification {
  position: absolute;
  width: 120px;
  height: 31px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  padding: 7px;
  border-radius: 8px;
  color: var(--just-white);
}
main .main-plans-container .plans-container--slider .plans-container--card:first-child .plan--qualification {
  background: var(--bitcoin-orange);
}
main .main-plans-container .plans-container--slider .plans-container--card:nth-child(2) .plan--qualification {
  background: var(--secondary-blue);
}
main .main-plans-container .plans-container--slider .plans-container--card:last-child .plan--qualification {
  background: var(--warm-black);
}

main .main-plans-container .plans-container--slider .plans-container--card .plan-info-container .plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}
main .main-plans-container .plans-container--slider .plans-container--card .plan-info-container .plan-card--price > p:last-child {
  display: inline-block;
  padding: 5px 0;
  font-size: 6.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: black;
  margin-right: 13px;
  letter-spacing: -0.08em;
}
main .main-plans-container .plans-container--slider .plans-container--card .plan-info-container .plan-card--price > p:first-child {
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
  font-size: 1.2rem;
  font-weight: 300;
}
main .main-plans-container .plans-container--slider .plans-container--card .plan-info-container .plan-card--saving {
  font-size: 1.2rem;
  color: #757575;

}
main .main-plans-container .plans-container--slider .plans-container--card .plan-info-container .plan-card--ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background: #FAF8F7;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  font-family: "DM Sans", sans-serif;
  color: var(--black);
}
main .main-plans-container .plans-container--slider .plans-container--card:first-child .plan-info-container .plan-card--ca {
  border: 2px solid var(--bitcoin-orange);
}
main .main-plans-container .plans-container--slider .plans-container--card:nth-child(2) .plan-info-container .plan-card--ca {
  border: 2px solid var(--secondary-blue);
}
main .main-plans-container .plans-container--slider .plans-container--card:last-child .plan-info-container .plan-card--ca {
  border: 2px solid var(--warm-black);
}

main .main-plans-container .plans-container--slider .plans-container--card .plan-info-container .plan-card--ca > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
main .main-plans-container .plans-container--slider .plans-container--card:first-child .plan-info-container .plan-card--ca > span {
  background: url('../assets/icons/orange-right-arrow.svg');
}
main .main-plans-container .plans-container--slider .plans-container--card:nth-child(2) .plan-info-container .plan-card--ca > span {
  background: url('../assets/icons/blue-right-arrow.svg');
}
main .main-plans-container .plans-container--slider .plans-container--card:last-child .plan-info-container .plan-card--ca > span {
  background: url('../assets/icons/black-right-arrow.svg');
}
footer {
  display: flex;
  width: 100%;
  height: 150px;
  background: var(--bitcoin-orange);

}
footer > section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .footer-left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
footer > .footer-left > ul > li {
  margin:10px 0;
}
footer > .footer-left > ul > li > a {
  text-decoration: none;
  color: var(--just-white);
}
